@font-face {
   font-family: "Bodoni SvtyTwo SC ITC TT Book";
   src: url("../fonts/0d5d31dfff35c5c6f4273b9f59cf7479.eot"); /* IE9*/
   src: url("../fonts/0d5d31dfff35c5c6f4273b9f59cf7479.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
   url("../fonts/0d5d31dfff35c5c6f4273b9f59cf7479.woff2") format("woff2"), /* chrome、firefox */
   url("../fonts/0d5d31dfff35c5c6f4273b9f59cf7479.woff") format("woff"), /* chrome、firefox */
   url("../fonts/0d5d31dfff35c5c6f4273b9f59cf7479.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
   url("../fonts/0d5d31dfff35c5c6f4273b9f59cf7479.svg#Bodoni SvtyTwo SC ITC TT Book") format("svg"); /* iOS 4.1- */
 }