// 1200
@media (max-width:1200px){
   .guest{
      margin: 0 0 50px 0;
   }
}
// 1024
@media (max-width:1024px){
   .guest{
      margin: 0 0 50px 0;
   }
}



// 768
@media (max-width:768px){
   .guest{
      margin: 0 0 50px 0;
   }
}


// 576
@media (max-width:576px){
   .guest{
      margin: 0 0 50px 0;
   .guest__slider{
   .guest-slider__item{
      margin: 0 20px;
      .guest-info__person-about{
         line-height: 1.8;
      }
   }
   }
   }
}